In [1]:
# Import PySpark
from pyspark.sql import SparkSession

spark = SparkSession.builder \
    .master('local[*]') \
    .config("spark.driver.memory", "10g") \
    .appName('Exam') \
    .getOrCreate() 
from pyspark.sql.functions import *

In [2]:
%%html
<style>
.output_subarea.output_text.output_stream.output_stdout > pre {
  width:max-content;
}
.p-Widget.jp-RenderedText.jp-OutputArea-output > pre {
  width:max-content;
}
</style>

In [3]:
%%time
df =  spark.read.parquet('/Users/karla/Documents/Docs/Credit Cards Transactions/tablas_juntasf.parquet')

CPU times: total: 0 ns
Wall time: 2.57 s

In [4]:
df.select(*(sum(col(c).isNull().cast("int")).alias(c) for c in df.columns)).show()

+------+----------+-------------+---------+----------+------+-------+---------+----+-----+-------+--------+---------+-----------------------+-------------------+---------+---------+--------------+---+---------+---------+--------+----------+-------+---+-------+-----------+-----------+------------+------------------+-------------+----+----+----+-----+---+----+------+--------+-------------+-------------+--------------+-------+---+--------+--------+
|Person|CurrentAge|RetirementAge|BirthYear|BirthMonth|Gender|Address|Apartment|City|State|Zipcode|Latitude|Longitude|PerCapitaIncome-Zipcode|YearlyIncome-Person|TotalDebt|FICOScore|NumCreditCards| id|CARDINDEX|CardBrand|CardType|CardNumber|Expires|CVV|HasChip|CardsIssued|CreditLimit|AcctOpenDate|YearPINlastChanged|CardonDarkWeb|User|Card|Year|Month|Day|Time|Amount|Use_Chip|Merchant_Name|Merchant_City|Merchant_State|    Zip|MCC|  Errors|Is_Fraud|
+------+----------+-------------+---------+----------+------+-------+---------+----+-----+-------+--------+---------+-----------------------+-------------------+---------+---------+--------------+---+---------+---------+--------+----------+-------+---+-------+-----------+-----------+------------+------------------+-------------+----+----+----+-----+---+----+------+--------+-------------+-------------+--------------+-------+---+--------+--------+
|     0|         0|            0|        0|         0|     0|      0| 17762699|   0|    0|      0|       0|        0|                      0|                  0|        0|        0|             0|  0|        0|        0|       0|         0|      0|  0|      0|          0|          0|           0|                 0|            0|   0|   0|   0|    0|  0|   0|     0|       0|            0|            0|       2720821|2878135|  0|23998469|       0|
+------+----------+-------------+---------+----------+------+-------+---------+----+-----+-------+--------+---------+-----------------------+-------------------+---------+---------+--------------+---+---------+---------+--------+----------+-------+---+-------+-----------+-----------+------------+------------------+-------------+----+----+----+-----+---+----+------+--------+-------------+-------------+--------------+-------+---+--------+--------+

In [5]:
df = df.drop('MCC','Errors', 'Apartment')

# Limpieza e Ingeniería

In [6]:
us_states = ["AK","AL", "AR",
             "AZ","CA","CO",
             "CT", "DC","DE",
             "FL","GA","HI",
             "IA","ID","IL",
             "IN", "KS","KY",
             "LA","MA","MD",
             "ME","MI","MN",
             "MO","MS","MT",
             "NC","ND","NE",
             "NH","NJ","NM",
             "NV","NY","OH",
             "OK","OR","PA",
             "RI","SC","SD",
             "TN","TX","UT",
             "VA","VT","WA",
             "WI","WV","WY"]

In [7]:
from pyspark.sql.types import FloatType, DecimalType
df = df.select('Person',
                 'CurrentAge',
                 'RetirementAge',
                 'BirthYear',
                 'BirthMonth',
                 'Gender',
                 'Address',
                 'City',
                 'State',
                 'Zipcode',
                 'Latitude',
                 'Longitude',
                  regexp_replace(col("PerCapitaIncome-Zipcode"),
                                 "[^\d.]", "").cast(FloatType()).alias("PerCapitaIncome_Zipcode"),
                  regexp_replace(col("YearlyIncome-Person"),
                                 "[^\d.]", "").cast(FloatType()).alias("YearlyIncome_Person"),
                  regexp_replace(col("TotalDebt"),
                                 "[^\d.]", "").cast(FloatType()).alias("TotalDebt"),
                 'FICOScore',
                 'NumCreditCards',
                 'id',
                 'CARDINDEX',
                 'CardBrand',
                 'CardType',
                 'CardNumber',
                 'Expires',
                 'CVV',
                 'HasChip',
                 'CardsIssued',
                  regexp_replace(col("CreditLimit"), "[^\d.]", "").cast(FloatType()).alias("CreditLimit"),
                 'AcctOpenDate',
                 'YearPINlastChanged',
                 'CardonDarkWeb',
                 'User',
                 'Card',
                 'Year',
                 'Month',
                 'Day',
                 'Time',
                  regexp_replace(col("Amount"), "[^\d.]", "").cast(FloatType()).alias("Amount"),
                 'Use_Chip',
                 'Merchant_Name',
                 'Merchant_City',
                 when(col("Merchant_State").isNull(),
                      "ONLINE").otherwise(col("Merchant_State")).alias("Merchant_State"),
                 when(col("Zip").isNull(), "ONLINE").otherwise(col("Zip")).alias("Zip"),
                 'Is_Fraud')

In [8]:
df = df.select("*",
               when(col("Merchant_State").isin(us_states),
                    "US").when(col("Merchant_State").isin("ONLINE"),
                               "ONLINE").otherwise("ABROAD").alias("TransType"))

In [9]:
df = df.select("*",
                    when(col("TransType") == 'US', col("Amount")).otherwise(0).alias('USAmount'),
                    when(col("TransType") == 'ONLINE', col("Amount")).otherwise(0).alias('OnlineAmount'),
                    when(col("TransType") == 'ABROAD', col("Amount")).otherwise(0).alias('AbroadAmount'),)

In [10]:
df.show()

+------------+----------+-------------+---------+----------+------+---------------+----------+-----+-------+--------+---------+-----------------------+-------------------+---------+---------+--------------+---+---------+----------+--------+----------------+-------+---+-------+-----------+-----------+------------+------------------+-------------+----+----+----+-----+---+-----+------+------------------+--------------------+-------------+--------------+------+--------+---------+--------+------------+------------+
|      Person|CurrentAge|RetirementAge|BirthYear|BirthMonth|Gender|        Address|      City|State|Zipcode|Latitude|Longitude|PerCapitaIncome_Zipcode|YearlyIncome_Person|TotalDebt|FICOScore|NumCreditCards| id|CARDINDEX| CardBrand|CardType|      CardNumber|Expires|CVV|HasChip|CardsIssued|CreditLimit|AcctOpenDate|YearPINlastChanged|CardonDarkWeb|User|Card|Year|Month|Day| Time|Amount|          Use_Chip|       Merchant_Name|Merchant_City|Merchant_State|   Zip|Is_Fraud|TransType|USAmount|OnlineAmount|AbroadAmount|
+------------+----------+-------------+---------+----------+------+---------------+----------+-----+-------+--------+---------+-----------------------+-------------------+---------+---------+--------------+---+---------+----------+--------+----------------+-------+---+-------+-----------+-----------+------------+------------------+-------------+----+----+----+-----+---+-----+------+------------------+--------------------+-------------+--------------+------+--------+---------+--------+------------+------------+
|Micheal Long|        28|           61|     1991|         4|  Male|54 Burns Avenue|Broken Bow|   OK|  74728|   34.02|   -94.73|                13811.0|            28163.0|  50872.0|      689|             4|719|        0|Mastercard|   Debit|5886248864335240|02/2020|334|    YES|          2|    14624.0|     07/2011|              2015|           No| 719|   0|2013|    5| 24|19:11| 23.41| Swipe Transaction| 5232804510082391016|      Hendrix|            OK| 74741|      No|       US|   23.41|         0.0|         0.0|
|Micheal Long|        28|           61|     1991|         4|  Male|54 Burns Avenue|Broken Bow|   OK|  74728|   34.02|   -94.73|                13811.0|            28163.0|  50872.0|      689|             4|719|        0|Mastercard|   Debit|5886248864335240|02/2020|334|    YES|          2|    14624.0|     07/2011|              2015|           No| 719|   0|2013|    5| 25|13:24| 10.93| Swipe Transaction| 3405106932905969578|   Broken Bow|            OK| 74728|      No|       US|   10.93|         0.0|         0.0|
|Micheal Long|        28|           61|     1991|         4|  Male|54 Burns Avenue|Broken Bow|   OK|  74728|   34.02|   -94.73|                13811.0|            28163.0|  50872.0|      689|             4|719|        0|Mastercard|   Debit|5886248864335240|02/2020|334|    YES|          2|    14624.0|     07/2011|              2015|           No| 719|   0|2013|    5| 25|14:41| 50.82| Swipe Transaction| 5474320255037684877|       Calera|            OK| 74730|      No|       US|   50.82|         0.0|         0.0|
|Micheal Long|        28|           61|     1991|         4|  Male|54 Burns Avenue|Broken Bow|   OK|  74728|   34.02|   -94.73|                13811.0|            28163.0|  50872.0|      689|             4|719|        0|Mastercard|   Debit|5886248864335240|02/2020|334|    YES|          2|    14624.0|     07/2011|              2015|           No| 719|   0|2013|    5| 25|19:08| 29.24| Swipe Transaction| 5232804510082391016|      Hendrix|            OK| 74741|      No|       US|   29.24|         0.0|         0.0|
|Micheal Long|        28|           61|     1991|         4|  Male|54 Burns Avenue|Broken Bow|   OK|  74728|   34.02|   -94.73|                13811.0|            28163.0|  50872.0|      689|             4|719|        0|Mastercard|   Debit|5886248864335240|02/2020|334|    YES|          2|    14624.0|     07/2011|              2015|           No| 719|   0|2013|    5| 25|19:51| 35.77| Swipe Transaction| 7514133484181523691|   Broken Bow|            OK| 74728|      No|       US|   35.77|         0.0|         0.0|
|Micheal Long|        28|           61|     1991|         4|  Male|54 Burns Avenue|Broken Bow|   OK|  74728|   34.02|   -94.73|                13811.0|            28163.0|  50872.0|      689|             4|719|        0|Mastercard|   Debit|5886248864335240|02/2020|334|    YES|          2|    14624.0|     07/2011|              2015|           No| 719|   0|2013|    5| 26|19:08| 23.82| Swipe Transaction| 7514133484181523691|   Broken Bow|            OK| 74728|      No|       US|   23.82|         0.0|         0.0|
|Micheal Long|        28|           61|     1991|         4|  Male|54 Burns Avenue|Broken Bow|   OK|  74728|   34.02|   -94.73|                13811.0|            28163.0|  50872.0|      689|             4|719|        0|Mastercard|   Debit|5886248864335240|02/2020|334|    YES|          2|    14624.0|     07/2011|              2015|           No| 719|   0|2013|    5| 27|12:54| 20.18|Online Transaction|-4241409341442030551|       ONLINE|        ONLINE|ONLINE|      No|   ONLINE|     0.0|       20.18|         0.0|
|Micheal Long|        28|           61|     1991|         4|  Male|54 Burns Avenue|Broken Bow|   OK|  74728|   34.02|   -94.73|                13811.0|            28163.0|  50872.0|      689|             4|719|        0|Mastercard|   Debit|5886248864335240|02/2020|334|    YES|          2|    14624.0|     07/2011|              2015|           No| 719|   0|2013|    5| 27|18:52| 19.76| Swipe Transaction| 7514133484181523691|   Broken Bow|            OK| 74728|      No|       US|   19.76|         0.0|         0.0|
|Micheal Long|        28|           61|     1991|         4|  Male|54 Burns Avenue|Broken Bow|   OK|  74728|   34.02|   -94.73|                13811.0|            28163.0|  50872.0|      689|             4|719|        0|Mastercard|   Debit|5886248864335240|02/2020|334|    YES|          2|    14624.0|     07/2011|              2015|           No| 719|   0|2013|    5| 28|18:40| 27.36| Swipe Transaction| 5232804510082391016|      Hendrix|            OK| 74741|      No|       US|   27.36|         0.0|         0.0|
|Micheal Long|        28|           61|     1991|         4|  Male|54 Burns Avenue|Broken Bow|   OK|  74728|   34.02|   -94.73|                13811.0|            28163.0|  50872.0|      689|             4|719|        0|Mastercard|   Debit|5886248864335240|02/2020|334|    YES|          2|    14624.0|     07/2011|              2015|           No| 719|   0|2013|    5| 28|19:15| 36.55| Swipe Transaction| 7069584154815291371|  Fort Towson|            OK| 74735|      No|       US|   36.55|         0.0|         0.0|
|Micheal Long|        28|           61|     1991|         4|  Male|54 Burns Avenue|Broken Bow|   OK|  74728|   34.02|   -94.73|                13811.0|            28163.0|  50872.0|      689|             4|719|        0|Mastercard|   Debit|5886248864335240|02/2020|334|    YES|          2|    14624.0|     07/2011|              2015|           No| 719|   0|2013|    5| 29|14:44| 42.21| Swipe Transaction|-8140755941559857074|   Broken Bow|            OK| 74728|      No|       US|   42.21|         0.0|         0.0|
|Micheal Long|        28|           61|     1991|         4|  Male|54 Burns Avenue|Broken Bow|   OK|  74728|   34.02|   -94.73|                13811.0|            28163.0|  50872.0|      689|             4|719|        0|Mastercard|   Debit|5886248864335240|02/2020|334|    YES|          2|    14624.0|     07/2011|              2015|           No| 719|   0|2013|    5| 30|20:26| 26.14| Swipe Transaction| 7069584154815291371|  Fort Towson|            OK| 74735|      No|       US|   26.14|         0.0|         0.0|
|Micheal Long|        28|           61|     1991|         4|  Male|54 Burns Avenue|Broken Bow|   OK|  74728|   34.02|   -94.73|                13811.0|            28163.0|  50872.0|      689|             4|719|        0|Mastercard|   Debit|5886248864335240|02/2020|334|    YES|          2|    14624.0|     07/2011|              2015|           No| 719|   0|2013|    5| 31|06:09|   2.3| Swipe Transaction|-1940418740907874681|   Broken Bow|            OK| 74728|      No|       US|     2.3|         0.0|         0.0|
|Micheal Long|        28|           61|     1991|         4|  Male|54 Burns Avenue|Broken Bow|   OK|  74728|   34.02|   -94.73|                13811.0|            28163.0|  50872.0|      689|             4|719|        0|Mastercard|   Debit|5886248864335240|02/2020|334|    YES|          2|    14624.0|     07/2011|              2015|           No| 719|   0|2013|    5| 31|23:20|172.38|Online Transaction|-3289339997738008669|       ONLINE|        ONLINE|ONLINE|      No|   ONLINE|     0.0|      172.38|         0.0|
|Micheal Long|        28|           61|     1991|         4|  Male|54 Burns Avenue|Broken Bow|   OK|  74728|   34.02|   -94.73|                13811.0|            28163.0|  50872.0|      689|             4|719|        0|Mastercard|   Debit|5886248864335240|02/2020|334|    YES|          2|    14624.0|     07/2011|              2015|           No| 719|   0|2013|    6|  2|13:37| 20.14| Swipe Transaction| 7069584154815291371|  Fort Towson|            OK| 74735|      No|       US|   20.14|         0.0|         0.0|
|Micheal Long|        28|           61|     1991|         4|  Male|54 Burns Avenue|Broken Bow|   OK|  74728|   34.02|   -94.73|                13811.0|            28163.0|  50872.0|      689|             4|719|        0|Mastercard|   Debit|5886248864335240|02/2020|334|    YES|          2|    14624.0|     07/2011|              2015|           No| 719|   0|2013|    6|  2|16:27| 59.58| Swipe Transaction| 4722913068560264812|      Haworth|            OK| 74740|      No|       US|   59.58|         0.0|         0.0|
|Micheal Long|        28|           61|     1991|         4|  Male|54 Burns Avenue|Broken Bow|   OK|  74728|   34.02|   -94.73|                13811.0|            28163.0|  50872.0|      689|             4|719|        0|Mastercard|   Debit|5886248864335240|02/2020|334|    YES|          2|    14624.0|     07/2011|              2015|           No| 719|   0|2013|    6|  3|19:00| 27.38| Swipe Transaction| 5232804510082391016|      Hendrix|            OK| 74741|      No|       US|   27.38|         0.0|         0.0|
|Micheal Long|        28|           61|     1991|         4|  Male|54 Burns Avenue|Broken Bow|   OK|  74728|   34.02|   -94.73|                13811.0|            28163.0|  50872.0|      689|             4|719|        0|Mastercard|   Debit|5886248864335240|02/2020|334|    YES|          2|    14624.0|     07/2011|              2015|           No| 719|   0|2013|    6|  4|15:40| 40.87| Swipe Transaction|-8140755941559857074|   Broken Bow|            OK| 74728|      No|       US|   40.87|         0.0|         0.0|
|Micheal Long|        28|           61|     1991|         4|  Male|54 Burns Avenue|Broken Bow|   OK|  74728|   34.02|   -94.73|                13811.0|            28163.0|  50872.0|      689|             4|719|        0|Mastercard|   Debit|5886248864335240|02/2020|334|    YES|          2|    14624.0|     07/2011|              2015|           No| 719|   0|2013|    6|  5|10:11| 26.16| Swipe Transaction|-5581123930363301609|      Newalla|            OK| 74857|      No|       US|   26.16|         0.0|         0.0|
|Micheal Long|        28|           61|     1991|         4|  Male|54 Burns Avenue|Broken Bow|   OK|  74728|   34.02|   -94.73|                13811.0|            28163.0|  50872.0|      689|             4|719|        0|Mastercard|   Debit|5886248864335240|02/2020|334|    YES|          2|    14624.0|     07/2011|              2015|           No| 719|   0|2013|    6|  5|18:41| 26.99| Swipe Transaction| 7069584154815291371|  Fort Towson|            OK| 74735|      No|       US|   26.99|         0.0|         0.0|
+------------+----------+-------------+---------+----------+------+---------------+----------+-----+-------+--------+---------+-----------------------+-------------------+---------+---------+--------------+---+---------+----------+--------+----------------+-------+---+-------+-----------+-----------+------------+------------------+-------------+----+----+----+-----+---+-----+------+------------------+--------------------+-------------+--------------+------+--------+---------+--------+------------+------------+
only showing top 20 rows

# TAD

In [11]:
f = df.groupBy(['Person', 'CurrentAge','FICOScore', 'Zipcode',
                'YearlyIncome_Person', 'TotalDebt', 'NumCreditCards'])\
      .agg((sum("Amount").cast(DecimalType(10,2))).alias("TotalAmount"),
           (avg("Amount").cast(DecimalType(10,2))).alias("AvgAmount"),
           (max("Amount").cast(DecimalType(10,2))).alias("MaxAmount"),
           (min("Amount").cast(DecimalType(10,2))).alias("MinAmount"),
           count("id").alias("TotalTransactions"),
           count(when(col('TransType') == 'US', True)).alias('USTrans'),
           count(when(col('TransType') == 'ONLINE', True)).alias('OnlineTrans'),
           count(when(col('TransType') == 'ABROAD', True)).alias('AbroadTrans'),
           (avg("USAmount").cast(DecimalType(10,2))).alias("AvgUSAmount"),
           (avg("OnlineAmount").cast(DecimalType(10,2))).alias("AvgOnlineAmount"),
           (avg("AbroadAmount").cast(DecimalType(10,2))).alias("AvgAbroadAmount"),
          )

In [12]:
f.show()

+----------------+----------+---------+-------+-------------------+---------+--------------+-----------+---------+---------+---------+-----------------+-------+-----------+-----------+-----------+---------------+---------------+
|          Person|CurrentAge|FICOScore|Zipcode|YearlyIncome_Person|TotalDebt|NumCreditCards|TotalAmount|AvgAmount|MaxAmount|MinAmount|TotalTransactions|USTrans|OnlineTrans|AbroadTrans|AvgUSAmount|AvgOnlineAmount|AvgAbroadAmount|
+----------------+----------+---------+-------+-------------------+---------+--------------+-----------+---------+---------+---------+-----------------+-------+-----------+-----------+-----------+---------------+---------------+
|     Reign Scott|        30|      640|  45245|            51998.0|  73575.0|             1|  192817.50|    82.58|  1286.38|     0.53|             2335|   2174|        141|         20|      68.40|          12.42|           1.76|
|     Raina Anwar|        40|      716|  74855|            36152.0|  81345.0|             1|  651596.73|    52.16|  1181.38|     0.81|            12493|  12035|        384|         74|      48.12|           3.57|           0.47|
|    Randall Long|        30|      659|  21044|            76867.0| 118029.0|             1|  299041.43|    59.48|  1478.48|     0.20|             5028|   4708|        294|         26|      52.74|           5.99|           0.74|
| Savannah Nguyen|        29|      736|  63368|            61581.0| 241312.0|             2|    9958.89|    73.77|   552.77|     1.10|              135|    126|          9|          0|      69.31|           4.46|           0.00|
|    Emily Parker|        87|      747|  35211|            16342.0|   1758.0|             5|  827592.24|    31.68|   773.81|     0.05|            26125|  25113|        939|         73|      28.42|           3.05|           0.21|
|     Ivory Peres|        63|      821|  20603|            71593.0| 132181.0|             3| 1005081.20|    49.37|  1478.20|     0.01|            20360|  19092|       1059|        209|      42.57|           6.21|           0.58|
| Zariah Mitchell|        43|      773|  46311|            57185.0|      0.0|             3|  839132.92|    34.78|  3752.40|     0.05|            24126|  22854|        970|        302|      28.60|           5.62|           0.56|
|     Zayne Adams|        59|      737|  33156|           109440.0| 180865.0|             5| 1895653.07|    85.50|  3010.22|     0.04|            22171|  16383|       5492|        296|      69.01|          15.42|           1.07|
|   Aspen Stewart|        48|      714|  30307|            93417.0| 115916.0|             3|  915338.82|   139.85|  2244.36|     2.13|             6545|   5463|        988|         94|     118.99|          18.13|           2.73|
|      Tomas Ross|        67|      728|  95121|            31287.0|  25844.0|             4|  624868.70|    62.38|  2090.28|     0.03|            10017|   9559|        350|        108|      53.52|           8.20|           0.65|
|Savanna Peterson|        50|      614|  48212|            17657.0|  21899.0|             2|  261828.65|    55.24|   651.24|     0.21|             4740|   4363|        374|          3|      47.51|           7.69|           0.04|
|  Conner Johnson|        47|      730|  75149|            36319.0|  44737.0|             4|  561581.07|    59.20|  1061.67|     0.05|             9486|   9085|        380|         21|      53.56|           5.49|           0.15|
|    Astrid Ortiz|        37|      803|  95747|            58637.0|  87340.0|             6|  707074.89|    93.48|  1317.98|     0.21|             7564|   6909|        633|         22|      82.23|          10.91|           0.34|
|  Nathaniel Bell|        52|      770|  46256|            63433.0| 122550.0|             7| 1487116.83|    62.98|  3416.64|     1.33|            23612|  22772|        551|        289|      58.47|           3.44|           1.08|
|      Jace Moore|        39|      728|  35405|            41907.0|  87163.0|             4|  244576.53|    63.81|   976.23|     0.88|             3833|   3416|        402|         15|      53.77|           9.43|           0.61|
|     Malik Scott|        54|      536|  36104|            23863.0|  83430.0|             2|  233615.12|    42.09|   821.60|     0.54|             5550|   4902|        648|          0|      34.43|           7.67|           0.00|
|Alessandro Davis|        37|      580|  59601|            41401.0|  71180.0|             1|  392979.07|    45.90|  1085.66|     0.00|             8561|   8246|        295|         20|      43.31|           2.45|           0.14|
|      Chase Ward|        65|      608|  10530|            40957.0|  64144.0|             4| 1254733.62|    63.82|  1839.16|     0.48|            19662|  18191|        858|        613|      53.86|           7.81|           2.15|
|  Raquel Russell|        32|      746|  41074|            35227.0|  25277.0|             3|  395522.69|    44.09|   842.00|     0.64|             8971|   8361|        562|         48|      38.07|           5.66|           0.36|
|       Liv Evans|        56|      717|  96028|            27981.0|  62926.0|             3|  486434.93|    23.21|   792.42|     0.00|            20956|  20024|        932|          0|      19.69|           3.52|           0.00|
+----------------+----------+---------+-------+-------------------+---------+--------------+-----------+---------+---------+---------+-----------------+-------+-----------+-----------+-----------+---------------+---------------+
only showing top 20 rows

In [13]:
f.count()

2000

# Clientes repetidos

In [14]:
f.groupBy("Person").count().orderBy(col("count").desc()).show()

+----------------+-----+
|          Person|count|
+----------------+-----+
|  Lochlan Morris|    2|
|     Rory Nelson|    2|
|  Hazel Robinson|    2|
|Magdalena Farhad|    2|
|   Abril Labelle|    2|
| Casey El-Mafouk|    2|
|   Cassidy Anwar|    2|
|  Cristian Adams|    1|
|   Belen Stewart|    1|
|     Cali Brooks|    1|
|Colette Phillips|    1|
|     Amir Leroux|    1|
|    Alia Stewart|    1|
|  Harrison Green|    1|
|   Ingrid Thomas|    1|
| Markus Masvidal|    1|
|      Addyson Xi|    1|
| Savannah Nguyen|    1|
|      Blake Sadr|    1|
|   Vivian Rogers|    1|
+----------------+-----+
only showing top 20 rows

In [15]:
f.filter(col("Person") == "Magdalena Farhad").show()

+----------------+----------+---------+-------+-------------------+---------+--------------+-----------+---------+---------+---------+-----------------+-------+-----------+-----------+-----------+---------------+---------------+
|          Person|CurrentAge|FICOScore|Zipcode|YearlyIncome_Person|TotalDebt|NumCreditCards|TotalAmount|AvgAmount|MaxAmount|MinAmount|TotalTransactions|USTrans|OnlineTrans|AbroadTrans|AvgUSAmount|AvgOnlineAmount|AvgAbroadAmount|
+----------------+----------+---------+-------+-------------------+---------+--------------+-----------+---------+---------+---------+-----------------+-------+-----------+-----------+-----------+---------------+---------------+
|Magdalena Farhad|        45|      663|  34232|            38872.0|  94970.0|             4| 1239062.40|    74.25|   874.66|     0.09|            16687|  15796|        862|         29|      68.14|           5.79|           0.32|
|Magdalena Farhad|        36|      719|  88045|            31414.0|  42233.0|             4|  732455.10|    56.93|   840.71|     0.00|            12867|  11994|        846|         27|      54.00|           2.63|           0.29|
+----------------+----------+---------+-------+-------------------+---------+--------------+-----------+---------+---------+---------+-----------------+-------+-----------+-----------+-----------+---------------+---------------+

Notemos que tenemos diferente edad y zipcode, por lo tanto nos quedaremos con la edad más actual.

In [16]:
f = f.orderBy(col('CurrentAge').desc()).coalesce(1).dropDuplicates(subset = ['Person'])

In [17]:
f.count()

1993

# Guardamos

In [18]:
f.write.format("csv").save("/Users/karla/Documents/Docs/Credit Cards Transactions/Exam_TAD.csv")