In [3]:
import pandas as pd
import os

data_path = '../../data/modulo2/examen/'
df = pd.read_csv(data_path+'churn-bigml-80 - churn-bigml-80.csv')
df.head()

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
0,KS,128,415,No,Yes,25,265.1,110,45.07,197.4,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False
1,OH,107,415,No,Yes,26,161.6,123,27.47,195.5,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False
2,NJ,137,415,No,No,0,243.4,114,41.38,121.2,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False
3,OH,84,408,Yes,No,0,299.4,71,50.90,61.9,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False
4,OK,75,415,Yes,No,0,166.7,113,28.34,148.3,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False

In [4]:
# Cálculo de la variable objetivo para la regresión:

df['total_charge'] = (df['Total day charge'] + df['Total eve charge'] + df['Total night charge']
                      + df['Total intl charge'])
df.head(3)

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,...,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn,total_charge
0,KS,128,415,No,Yes,25,265.1,110,45.07,197.4,...,16.78,244.7,91,11.01,10.0,3,2.70,1,False,75.56
1,OH,107,415,No,Yes,26,161.6,123,27.47,195.5,...,16.62,254.4,103,11.45,13.7,3,3.70,1,False,59.24
2,NJ,137,415,No,No,0,243.4,114,41.38,121.2,...,10.30,162.6,104,7.32,12.2,5,3.29,0,False,62.29

In [5]:
tar = 'Churn'
varc = [c for c in df.columns if c not in ['State', 'Account length', 'Area code', tar, 
                                          'International plan', 'Voice mail plan', 'total_charge']]
varc

['Number vmail messages',
 'Total day minutes',
 'Total day calls',
 'Total day charge',
 'Total eve minutes',
 'Total eve calls',
 'Total eve charge',
 'Total night minutes',
 'Total night calls',
 'Total night charge',
 'Total intl minutes',
 'Total intl calls',
 'Total intl charge',
 'Customer service calls']

# Clasificación

In [6]:
from sklearn.model_selection import train_test_split

Xd = df[varc].copy()
yd = df[tar].copy()

Xd_train, Xd_test, yd_train, yd_test = train_test_split(Xd, yd, test_size = .2)

In [7]:
tarr = 'total_charge'
varcc = [c for c in varc if 'Total' not in c]

In [8]:
from sklearn.model_selection import train_test_split

Xc = df[varcc].copy()
yc = df[tarr].copy()

Xc_train, Xc_test, yc_train, yc_test = train_test_split(Xc, yc, test_size = .2)

# SVM

## Clasificación:

In [9]:
from sklearn.svm import SVC
from sklearn.metrics import roc_auc_score, accuracy_score

clf = SVC(kernel='linear')
clf.fit(Xd_train,yd_train)
y_pred = clf.predict(Xd_test)
print(roc_auc_score(yd_test,y_pred))

0.5

## Regresión:

In [10]:
from sklearn.svm import SVR
from sklearn.metrics import mean_absolute_error

reg = SVR(kernel='linear')
reg.fit(Xc_train,yc_train)
y_pred = reg.predict(Xc_test)
print(mean_absolute_error(yc_test,y_pred))

8.448610244223149

# K-vecinos más cercanos

In [11]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import roc_auc_score
knn = KNeighborsClassifier(n_neighbors = 8)
knn.fit(Xd_train, yd_train)
y_pred = knn.predict(Xd_test)
roc_auc_score(yd_test, y_pred)

0.5980904817861339

In [12]:
from sklearn.neighbors import KNeighborsRegressor
knnr = KNeighborsRegressor(n_neighbors = 8)
knnr.fit(Xc_train, yc_train)
y_pred = knnr.predict(Xc_test)
mean_absolute_error(yc_test, y_pred)

8.46560393258427